* {
    margin: 0;
    padding: 0;
}

.navigation {
    /* background color diyar jonoo */
    background-color: dodgerblue; 

    /* pasa pashi bosar jonno display flex use korte hoi */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li{
    list-style: none;
    margin: 0 5px;
    padding: 15px 0px;
    margin-left: -5px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 1px solid white;
    /* padding-right: 20px; */
    padding: 15px 20px;
    transition: 0.5s;
}

.navigation ul{
    display: flex;
    margin-right: 50px;
}

.logo h2{
    color: white;
    margin-left: 50px;

}

.navigation > ul > li:first-child > a{
    border-left: 1px solid white;
    padding-left: 20px;
}

.navigation ul li:hover a {
    background-color: rgb(3, 87, 172);
}

/* dropdown menu code start */
.dropdown {

}